node_modules/
frontend/node_modules/
frontend/.cacche/
frontend/.js/
frontend/js/index.js
frontend/js/controllers/
frontend/js/models/
frontend/js/utils/
frontend/js/views/
backend/*.env
backend/node_modules/
.DS_Store