.section-testimonials {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    margin-top: 6rem;
    padding-bottom: 6rem;

    &__box{
        width: 70%;
        margin: 0 auto;
        padding: 2rem;
        background-color: rgba($color-text-light, .3);
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: 2rem;
        align-items: center;
        transform: skewX(-12deg);
        position: relative;
        overflow-y: hidden;

        @media only screen and (max-width: $bp-small) {
            width: 90%;
        }

        &::before {
            content: '\201C';
            position: absolute;
            font-family: sans-serif;
            font-style: italic;
            top: -14rem;
            left: 10rem;
            font-size: 30rem;
            color: rgba($color-text, .4);
            z-index: -1;

            @media only screen and (max-width: $bp-small) {
                left: 0;
            }
        }
    }

    &__box > * {
        transform: skewX(12deg);
        // z-index: 10;
    }

    &__photo{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        clip-path: circle(50% at 50% 50%);
        grid-row: 1 / 3;

        @media only screen and (max-width: $bp-small) {
            grid-row: auto;
            grid-column: 1 / -1;
            justify-self: center;
        }
    }

    &__img{
        height: 100%;
        // backface-visibility: hidden;
    }

    &__title{
        align-self: start;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-text-dark;

        @media only screen and (max-width: $bp-small) {
            grid-column: 1 / -1;
            justify-self: center;
        }
    }

    &__text {
        font-size: 1.4rem;
        font-weight: 300;

        @media only screen and (max-width: $bp-small) {
            grid-column: 1 / -1;
            justify-self: center;
        }
    }
}