<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AssistCar</title>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <!-- <script src="js/bundle.js"defer></script> -->
    <script type="module" src="/js/index.js" defer></script>
</head>
<body>
    <div class="container__loading">
        <img src="img/loading.gif" alt="loading gif" class="container__loading__gif">
    </div>
    <!-- <div class="popup-details">
        <div class="popup-details__content"></div>
    </div> -->



    <div class="container">
        {%container-content%}
    </div>


</body>
</html>